@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat";
    box-sizing: border-box;
}

.glowa {
    background-image: url(assets/background2.jpeg);
    opacity: 0.7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 70rem;
    position: relative;
}

.about {
    background-color: antiquewhite;
    position: absolute;
    right: 3rem;
    top: 6rem;
    border-radius: 5%;
    padding: 2rem;
    box-shadow: 1rem 1rem 1rem pink;
}

h1 {
    font-family: "Dancing Script"
}

.Gallup {
    position: relative;
    bottom: -2rem;
    text-decoration: underline;
}

ul {
    list-style-type: none;
     padding-inline-start: 0;
}

li {
    display: inline;
}

.inline {
    color: black;
    padding: 0.5rem;
}

.objects {
    position: absolute;
    top: 40rem;
    width: 100%;
}

h3 {
    text-align: center;
}

.fa {
    color: black;
}

.inlineul {
    padding-inline-start: 0;
}

.inline-contact {
    color: black;
    padding: 0.5rem;
    font-size: 2rem;
}

.photo {
    background-image: url(assets/moje.png);
    position: absolute;
    top: -2rem;
    left:-5rem;
    height: 10rem;
    width: 10rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30%
}

.object-1, .object-2 {
    float: left;
    background-color: antiquewhite;
    opacity: 0.8;
    width: 41%;
    padding: 2%;
    margin: 2%;
    border-radius: 5%;
    box-shadow: 1rem 1rem 1rem grey;
}
