@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Montserrat"
}

.object-1 {
    background-image: url(assets/background.jpeg);
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 36rem;
}

.about {
    background-color: antiquewhite;
    position: absolute;
    right: 3rem;
    top: 6rem;
    border-radius: 5%;
    padding: 2rem;
    box-shadow: 
}

h1 {
    font-family: "Dancing Script"
}
